<p id="notice"><%= notice %></p>

<p>
  <b>Instrument:</b>
  <%=h @line_item.instrument %>
</p>

<p>
  <b>Cart:</b>
  <%=h @line_item.cart %>
</p>


<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>